/* .matches-container {
    display: flex;
    flex-direction: column;
  } */
  
  /* .match {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    margin-bottom: 20px;
    border: none;
    padding: 10px;
  } */
  
  /* .match-details {
    flex: 1;
    margin-right: 10px;
  } */
  
  /* .shadow-xl {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: header;
  } */
  
  /* .team {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 10px;
  } */
  
  /* .team-image {
    width: 180px;
    height: auto;
  } */
  
  /* .team-name {
    margin-top: 5px; 
    text-align: center; 
    font-family: 'Arial', sans-serif; 
    color: #333; 
  } */
  
  /* .match-date-time {
    margin: 0;
    text-align: center;
    font-family: 'Arial', sans-serif;
    color: #666; 
  } */
  
  /* .vs-image {
    width: 60px; 
    height: auto;
  } */
  /* .vs {
    display: flex;
    justify-content: center;
    align-items: center;
  }
   */