.matches-container {
    display: flex;
    flex-direction: column;
  }
  
  .match {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    margin-bottom: 20px;
    border: none;
    padding: 10px;
  }
  
  .match-details {
    flex: 1;
    margin-right: 10px;
  }
  
  .shadow-xl {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: header;
  }
  
  .team {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 10px;
  }
  
  .team-image {
    width: 180px; /* Adjust the size as needed */
    height: auto; /* Adjust the size as needed */
  }
  
  .team-name {
    margin-top: 5px; /* Adjust spacing as needed */
    text-align: center; /* Align text in the center */
    font-family: 'Arial', sans-serif; /* Use a custom font family */
    color: #333; /* Define a custom text color */
  }
  
  .match-date-time {
    margin: 0;
    text-align: center;
    font-family: 'Arial', sans-serif; /* Use a custom font family */
    color: #666; /* Define a custom text color */
  }
  
  .vs-image {
    width: 60px; /* Adjust the size as needed */
    height: auto; /* Adjust the size as needed */

    
  }
  .vs {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  