#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

@import url('https://fonts.googleapis.com/css2?family=Freeman&display=swap');
.freeman-regular {
  font-family: "Freeman", sans-serif;
  font-weight: 400;
  font-style: normal;
}

input[type="datetime-local"]::-webkit-calendar-picker-indicator {
  filter: invert(1); /* Makes the icon white */
  cursor: pointer;
}

/* For Chrome, Edge, and Safari */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #161e31; /* Dark background */
}

::-webkit-scrollbar-thumb {
  background-color: #111725; /* Scrollbar thumb color */
  border-radius: 10px;
  border: 3px solid #151e33; /* Matches the track for padding illusion */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #666;
}
